body * {
  margin: 0;
  font-family: Open Sans;
}
/* 
.dark {
  background-color: #333;
  color: #fff;
}

.dark a {
  color: lightblue;
}

.dark li::marker {
  color: white;
}

.light {
  background-color: #fff;
  color: #333;
} */
